/* ==========================================================================
   Imports
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600,700');
@import "font-awesome.css";

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

/*fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}*/

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
            Foundational Styles
   ========================================================================== */

    /* Color */
    .blue {background:rgba(51, 62, 82, 1);} /*#333E52*/
    .green {background:rgba(101, 174, 116, 1);} /*#65AE74*/
    .white {background:rgba(255, 255, 255, 1);} /*#FFFFFF*/
    .ltBlue {background: #D6D8DC;} /*rgba(51, 62, 82, .20)*/


   /* Fonts */
   h1 {font: 700 34px/36px 'Open Sans', sans-serif;}
   h2 {font: 700 28px/30px 'Open Sans', sans-serif;}
   h3 {font: 22px/24px 'Open Sans', sans-serif;}
   a {font: 18px/20px 'Abel', sans-serif;}
   p {font: 18px/20px 'Abel', sans-serif;}
   ul {font: 18px/20px 'Abel', sans-serif;}
   ol {font: 18px/20px 'Abel', sans-serif;}
   fieldset {font: 600 18px/20px 'Open Sans', sans-serif;}

   /* Structure */
    * {margin: 0;}
    .full {width: 100%;}
    .container {width: 1200px; margin: 0 auto;}
    .space {height: 75px;}
    .right {float: right;}
    .left {float: left;}
    .textR {text-align: right;}
    .textC {text-align: center;}
    .textL {text-align: left;}


    /* Positioning */
    .fixed {position: fixed;}
    .relative {position: relative;}

   /* Clear Fix */
    .clearFix:after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
    }

    /* link */
    a {
      text-decoration: none;
    }

    /* lists */
    ol, ul {
      list-style: none;
    }
   

    /* Inputs */
    *:focus {
      outline: none;

    }


/* ==========================================================================
            Navigation
   ========================================================================== */

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  z-index: 999999999;
}

.navigation img {
  position: absolute;
  top: 0;
  left: 20px;
  width: 139px;
  z-index: 9999;
}

nav {
  width: 100%;
}

nav ul.drop {
  position: absolute;
  top: 25px;
  left: 160px;
  cursor: pointer;
}

nav ul.drop i {
  float: right;
  vertical-align: center;
}

.search {
  position: absolute;
  top: 20px;
  right: 260px;
  width: 45%;
  text-align: right;
}

.search input[type=text] {
  position: absolute;
  top: 0;
  left: 20%;
  width: 70%;
  height: 25px;
  padding-left: 2%;
  border: none;
  border-radius: 4px 0 0 4px;
}

.search a {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  padding-top: 3px;
  display: inline;
  background: #65AE74;
  width: 10%;
  height: 24px;
  border: none;
  border-radius: 0 4px 4px 0;
  text-align: center;
  transition: .3s ease-in-out;
}

.search a:hover {
  color: #333e52;
}

nav ul {
  list-style: none;
  position: absolute;
  top: 25px;
  right: 0;
}

nav ul i {
  padding-left: 10px;
}

nav ul li {
  display: inline-block;
  color: #fff;
  padding: 0 20px;
  transition: .4s ease-in-out;
}


nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: .4s ease-in-out;
}

nav ul li:hover {
  color: #65AE74;
}

nav ul li a:hover {
  color: #65AE74;
}

      /* Touchscreen */
      
      .hamNav {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
      }

      .smallSearch {
        display: none;
        position: absolute;
        top: 11px;
        right: 60px;
      }

      .hamburger {
        position: absolute;
        top: 0;
        right: 10px;
        width: 50px;
        cursor: pointer;
      }

      .hamClose {
        position: absolute;
        top: 0;
        right: 21px;
        width: 50px;
        display: none;
        cursor: pointer;
        z-index: 9999;
      }

      .hamNav h1 {
        text-align: center;
        width: 100%;
        color: #fff;
        font-size: 1.5em;
      }

      .hamMenu {
        position: absolute;
        top: -60px;
        left: 0;
        overflow: scroll;
        height: 0;
        width: 100%;
        background: #333E52;
        text-align: center;
        padding-top: 60px;
        transition: all .5s ease-in-out;
      }

      .hamMenu a {
        font-size: 1.5em;
        margin: 20px;
        color: #fff;
        display: block;
      }

      #accordion5 ul li a {
        font-size: 1em;
      }

      .acct {
        margin: 50px 0 30px;
        border-bottom: 2px solid #65AE74;
      }

      #accordion5 {
        color: #fff;
        background: #333E52;
        z-index: 99;
      }

      #accordion5 .ui-widget-content {
        background: #333E52;
      }

      #accordion5 .ui-state-default {
        margin: 0;
        background: none;
        border: none;
        color: #fff;
      }

      #accordion5 .ui-state-default:hover {
        padding: 0;
        margin: 0;
        color: #65AE74;
      }

      #accordion5 span{
        display: none;
      }

      .ui-state-focus {
        font-weight: 700;
      }

      .ui-accordion .ui-accordion-header {
        margin: 0;
        padding: 0;
      }

      .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
        font-weight: 700;
        border: none;
        margin: 0;
      }

      .hamMenu ul {
        color: #fff;
        background: #333E52;
        list-style: none;
        padding-left: 0;
        transition: .3s ease-in-out;
      }

      .hamMenu li:hover {
        color: #65AE74;
      }

      .hamMenu li {
        background: #333E52;
        margin: 30px 0;
      }

      #accordion5 h3 {
        width: 100%;
        height: 50px;
        margin-top: 10px;
      }

      .ui-accordion .ui-accordion-header .ui-icon {
        margin-top: 10px;
      }



/* Dropdown */
.dropdown {
  overflow: hidden;
  margin-top: 75px;
  height: 0;
  background: #fff;
  box-shadow: 2px 2px 1px #f2f2f2;
  transition: all .5s ease-in-out;
}

.dropdown a {
  color: #333E52;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.upArrow {
  display: none;
  padding-top: 5px;
}

.leftSide {
  position: absolute;
  top: 0;
  left: 220px;
  width: 150px;
  margin-top: 30px;
  border-right: 1px solid #333E52;
}

.leftSide ul {
  padding-left: 0px;
}

.leftSide ul li {
  margin: 30px 0;
}

.leftSide ul li a {
  font-size: 1.2em;
}

.rightSide {
  width: 80%;
  float: left;
  margin-left: 405px;
  padding-right: 20px;
}

.rightSide ul {
  float: left;
  width: 25%;
  margin-top: 50px;
  padding-left: 0;

}

.rightSide ul li {
  padding-bottom: 15px;
}

.categories {
  display: none;
}


/* ==========================================================================
            Footer
   ========================================================================== */
.sign {
  height: 45px;
}

.signup {
  width: 50%;
  padding-left: 5px;
}

.signup input[type=text] {
  position: absolute;
  top: 8px;
  left: 0;
  height: 25px;
  width: 80%;
  padding-left: 2%;
  border: none;
  border-radius: 4px 0 0 4px;
}

.signup a {
  position: absolute;
  top: 8px;
  right: 0;
  background: #333E52;
  width: 20%;
  height: 24px;
  display: inline;
  font-size: 1em;
  border-radius: 0 4px 4px 0;
  text-align: center;
  padding-top: 3px;
  text-decoration: none;
  color: #fff;
  transition: .3s ease-in-out;
}

.signup a:hover {
  color: #65AE74;
}

.social {
  position: absolute;
  top: 11px;
  right: 0;
  padding-right: 5px;
  list-style: none;
}

.social li {
  display: inline-block;
  margin-left: 30px;
}

.social li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3em;
  transition: .3s ease-in-out;
}

.social li a:hover {
  color: #333E52;
}

.col3 {
  width: 20%;
  margin-left: 10%;
  float: left;
  padding: 5px 0;
}

.col3 ul {
  list-style: none;
  padding-left: 0;
}

.col3 li {
  margin: 15px 0;
}

.col3 a {
  text-decoration: none;
  color: #fff;
  transition: .3s ease-in-out;
}

.col3 a:hover {
  color: #65AE74;
}

.fp {
  font-size: .9em;
  color: #fff;
  padding: 5px;
  transition: .3s ease-in-out;
}

.fp:hover {
  color: #333E52;
}



/* ==========================================================================
            Homepage
   ========================================================================== */
/* Hero */
.hero {
  text-align: center;
  overflow: hidden;
}

.height {
  height: 60vh;
}

.hero img {
  position: absolute;
  top: 10px;
  right: 100px;
}

.hero h1 {
  color: #fff;
  width: 500px;
  font-size: 3em;
  display: inline;
}

.hero fieldset {
  position: absolute;
  top: 50px;
  left: 33px;
  width: 500px;
  height: 100px;
  border: 4px solid #fff;
}

.hero fieldset legend {
  color: #fff;
  padding: 15px 20px 15px;
  font-size: 1.2em;
}

.heroAd a {
  width: 100px;
  position: absolute;
  top: 220px;
  left: 243px;
  color: #fff;
  border: 4px solid #fff;
  padding: 10px;
  font-size: 1.5em;
  transition: .3s ease-in-out;
}

.hero a:hover {
  background: #65AE74;
}

.containAd {
  width: 100%;
  position: absolute;
  left: 600px;
  margin-top: 100px;
}

.heroAd {
  padding-right: 9999px;
  height: 300px;
  width: 600px;
  background: rgba(51, 62, 82, .8);
  direction: ltr;
  overflow: hidden;
}

.miniContain {
  padding: 10px;
}

.bottomAd {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: rgba(51, 62, 82, .8);
}

.bottomAd h2 {
  color: #fff;
  padding-bottom: 10px;
}

.bottomAd a {
  width: 100px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -64px;
  color: #fff;
  border: 4px solid #fff;
  padding: 10px;
  font-size: 1.5em;
  transition: .3s ease-in-out;
}




/* Department Section */

.wrap {
  overflow: hidden;
  height: 200px;
  width: 25%;
  float: left;
}

.wrap:last-child {

  margin-bottom: 80px;
}

.wear {
  width: 100%;
  height: 100%;
  filter: grayscale(60%);
  transition: all .3s ease-in-out;
}

.wear:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}

.wrap h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1px 0 8px;
  text-align: center;
  color: #fff;
  background: linear-gradient(transparent, rgba(51, 62, 82, .7));
  text-shadow: 1px 1px 3px #333E52;
  font-size: 3.5em;
  z-index: 999;

}


/* Recently Viewed and Recommendations */

.re {
  width: 94%;
  margin: 0 2% 0;
}


.four {
  height: 100%;
  width: 100%;
}

.items {
  height: 200px;
  width: 18%;
  padding-bottom: 100px;
  margin: 0 3% 80px;
  float: left;
}

.items:hover {
  box-shadow: .5px .5px 1px 1px rgba(51, 62, 82, .5);
  padding: -1px -1px 99px -1px;
}

.info {
  width: 100%;
  position: absolute;
  bottom: -80px;
  left: 50%;
  margin-left: -25%; 
}

.info {
  color: #333E52;
}

.info h2 {
  font-size: 1.1em;
  line-height: 1em;
}

.info h3 {
  font-size: 1em;
}

.summer {
  text-align: center;
}

.summer img {
  position: absolute;
  top: 10px;
  right: 100px;
}

.summer h1 {
  color: #333E52;
  width: 400px;
  font-size: 3em;
  display: inline;
}

.summer fieldset {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 400px;
  height: 100px;
  border: 4px solid #333E52;
}

.summer fieldset legend {
  color: #333E52;
  padding: 15px 20px 15px;
  font-size: 1.2em;
}

.summer a {
  width: 100px;
  position: absolute;
  top: 220px;
  left: 240px;
  color: #333E52;
  border: 4px solid #333E52;
  padding: 10px;
  font-size: 1.5em;
  transition: .3s ease-in-out;
}

.summer a:hover {
  background: #333E52;
  border: 4px solid #fff;
  color: #fff;
}

.stars i {
  color: #65AE74;
  padding-top: 5px;
}

/* ==========================================================================
            Search Results Page
   ========================================================================== */
/* Breadcrumbs */
.bread {
  margin-left: 120px;
  padding-top: 10px;
}

.bread li {
  display: inline;
}

.bread li+li:before {
  padding: 10px;
  content: "/\00a0";
}

.bread a {
  color: #333E52;
}

.miniSort {
  z-index: 9998;
}

/* Department Title */
.departTitle {
  background: #fff;
  margin: 0 0 10px 50px;
  padding: 50px 0 20px;
  z-index: 999;
}

.miniFilter {
  display: none;
}

.miniFilter h2 {
  float: left;
  margin: -50px 0 0 20px;
  font-size: 1.1em;
}

.miniFilter p {
  float: right;
  margin: -45px 20px 0 0;
  font-size: 1.1em;
}

/* Sort By */
.sort {
  width: 100%;
  height: 115px;
  background: #fff;
  z-index: 999;
}

.sort p {
  font-size: 1em;
  margin-right: 20px;
  float: left;
}

.sortBy {
  float: right;
  margin-top: 80px;
  margin-right: 20px;
}

.resultsArea {
  width: 100%;
  height: 95vh;
  overflow: hidden;
}

      /* Side bar and Accordian */
      .sideBar {
        width: 15%;
        float: left;
        position: absolute;
        top: 150px;
        left: 50px;
      }

      .ui-state-default {
        background: none;
        border: none;
      }

      .ui-state-default:hover span {
        display: none;
      }

      .ui-state-default:hover {
        margin: 0;
      }

      .ui-state-focus span{
        display: none;
      }

      .ui-state-focus {
        font-weight: 700;
      }

      .ui-accordion .ui-accordion-header {
        margin: 0;
        padding: 0;
      }

      .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
        font-weight: 700;
        border: none;
      }

      .ui-widget-content {
        border: none;
      }

      .ui-icon, .ui-widget-content .ui-icon {
        background: none;
        content: "+";
        float: right;
      }

      .ui-state-active .ui-icon, .ui-button:active .ui-icon {
        background: none;
      }

      .ui-icon-triangle-1-e {
        background: none;
      }

      .ui-accordion .ui-accordion-content {
        padding: 0;
      }

      #accordion2 ul, #accordion3 ul {
        padding: 5px 0 5px 10px;
      } 

/* Results */
.results {
  width: 100%;
  height: 100%;
  padding: 0 22px 0 0;
  overflow: scroll;
}

.res {
  position: absolute;
  top: 120px;
  left: 280px;
  width: 75%;
  height: 80vh;
  overflow: hidden;
}

.results hr {
  display: none;
}

.sResults {
  height: 200px;
  width: 18%;
  padding-bottom: 100px;
  margin: 10px 1% 50px;
  float: left;
}

.sResults:hover {
  box-shadow: .5px .5px 1px 1px rgba(51, 62, 82, .5);
  padding: -1px -1px 99px -1px;
}

#accordian3 ul li input {
  padding-right: 10px;
}

        /* Filter Screen */
        .filterScreen {
          position: absolute;
          top: 0;
          left: 0;
          overflow: scroll;
          height: 100vh;
          width: 0;
          background: #fff;
          transition: all .5s ease-in-out;
        }

        .filterContent {
          padding-left: 12%;
          height: 100vh;
          padding-bottom: -150px;
          overflow: scroll;
        }

        .filterScreen h2:first-child {
          margin-top: 75px;
        }

        .filterScreen h2 {
          margin: 25px 0 10px 0;

        }

        .filterScreen h3 {
          margin-top: 20px;
        }

        .filterScreen ul {
          padding: 5px 0 10px 20px;
        }

        .filterScreen ul li {
          padding: 5px 0;
        }

        .filterButtons {
          background: #fff;
        }

        .filterB {
          width: 80%;
        }

        .filterB button {
          width: 100%;
          margin: 30px 0 0 -10px;
          padding: 5px 0;
          border: none;
          display: inline;
          background: #c1c5cb;
          transition: .3s ease-in-out;
        }

        .filterB button:hover {
          background: #c1dec7;
        }

        .onleft {
          background: #d6d8dc;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 50%;
          text-align: center;
          padding: 20px 0;
        }

        .onright {
          background: #d6d8dc;
          position: absolute;
          bottom: 0;
          right: 0;
          width: 50%;
          text-align: center;
          padding: 20px 0;
        }


/* Pagination */
.pagination {
  text-align: right;
  margin-right: 20px;
}

.pagination li {
  color: #333E52;
  display: inline-block;
  padding: 0 2.5px 20px;
  font-size: 1.1em;
}

.pagination li a {
  color: #333E52;
  font-size: 1.1em;
  padding: 0 5px;
}

.pagination li a:hover {
  background: #333E52;
  color: #fff;
}

.pagination li:nth-child(3) a {
  background: #333E52;
  color: #fff;
}


/* ==========================================================================
            Single Product Page
   ========================================================================== */
.gallery {
  margin: 100px 5%;
  width: 45%;
  float: left;
}

.middle {
  display: none;
}

.largeItem img {
  width: 80%;
  margin: 5px 10%;
}

.textBox {
  width: 35%;
  margin: 100px 5%;
  float: right;
}

.textBox h2 {
  padding-bottom: 10px;
}

.sizeChart {
  width: 100%;
}

.box {
  display: inline-block;
  width: 40px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.box:hover {
  box-shadow: .5px .5px 1px 1px rgba(51, 62, 82, .5);
  padding: -1px -1px 99px -1px;
}

.boxShadow {
  box-shadow: .5px .5px 1px 1px rgba(51, 62, 82, .5);
  padding: -1px -1px 99px -1px;
}

.thumbnails {
  width: 100%;
  margin: 5px 0;
}

.thumbnails img {
  width: 22%;
  display: inline-block;
  margin: 1%;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.thumbnails img:hover {
  box-shadow: .5px .5px 1px 1px rgba(51, 62, 82, .5);
  padding: -1px -1px 99px -1px;
}

.description h2 {
  font-size: 1.3em;
}

.more, .less {
  display: none;
  color: #65AE74;
  cursor: pointer;
  text-align: right;
}

.addCart a {
  display: block;
  color: #fff;
  background: #65AE74;
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px;
  text-align: center;
  transition: .3s ease-in-out;
}


.addCart a:hover {
  color: #333E52;
}

.similar {
  width: 80%;
  margin: 0 10% 50px;
}

.simItems {
  height: 250px;
  width: 30%;
  padding-bottom: 50px;
  margin: 0 1% 20px;
  float: left;
}

.simItems:hover {
  box-shadow: .5px .5px 1px 1px rgba(51, 62, 82, .5);
  padding: -1px -1px 99px -1px;
}

.simInfo {
  width: 100%;
  position: absolute;
  bottom: -80px;
  left: 50%;
  margin-left: -25%; 
}

.simInfo {
  color: #333E52;
}

.simInfo h2 {
  font-size: 1.1em;
  line-height: 1em;
}

.simInfo h3 {
  font-size: 1em;
}


/* ==========================================================================
            Cart Page
   ========================================================================== */

.itemCart {
  float: left;
  width: 48%;
  margin: 50px 5% 50px 0;
  padding-bottom: 50px;
}

.summary {
  float: left;
  width: 38%;
  margin: 138px 0 100px 5%;
  background: rgba(101, 174, 116, .4);
}

.itemCart h1, .itemCart h2 {
  display: inline-block;
  padding-right: 10px;
}

.itemCart ul {
  padding-left: 0;
}

.itemCart li {
  padding: 1px;
  margin: 5px 0;
}

.itemCart li:hover {
  box-shadow: .5px .5px 1px 1px rgba(51, 62, 82, .5);
  padding: -1px -1px 99px -1px;
}

.itemCart li:nth-child(odd) {
  background: rgba(51, 62, 82, .15);
}

.itemCart img {
  width: 150px;
  margin: 0 5px;
  float: left;
}

.infoCart {
  float: left;
  margin: 0 0 5px 5px;
}

.infoCart h3 {
  padding: 10px 0;
}

.infoCart p {
  padding: 5px;
}

.priceRed {
  position: absolute;
  bottom: 20px;
  right: 10px;
  color: red;
}

.itemCart button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
}

.summary h2 {
  padding: 10px 0 0 15px;
}

.sumBox {
  width: 90%;
  margin: 10px auto;
  border-bottom: 1px solid rgba(101, 174, 116, .3);
  padding: 10px 0;
}

.sumBox:last-child {
  border: none;
}

.sumBox h3 {
  float: left;
}

.sumBox a {
  float: left;
  font-size: .8em;
  color: #333E52;
  margin: 8px 0 0 10px;
}

.sumBox p {
  float: right;
}

.sumBox button {
  width: 100%;
  background: #333E52;
  padding: 10px;
  margin: 20px 0;
  border: none;
  border-radius: 4px;
  color: #fff;
  transition: .3s ease-in-out;
}

.sumBox button:hover {
  color: #65AE74;
}

.rec {
  padding: 20px 0 20px 50px;
  color: #fff;
}

/* ==========================================================================
            Divs with Backgrounds
   ========================================================================== */

.hero {
  background: url(../img/hero.jpg) no-repeat left;
  background-size: cover;
}

.mens {
  background: url(../img/mensWear.jpg) no-repeat right top;
  background-size: cover;
}

.womens {
  background: url(../img/womensWear.jpg) no-repeat right top;
  background-size: cover;
}

.kids {
  background: url(../img/kidsWear.jpg) no-repeat right top;
  background-size: cover;
}

.seasonal {
  background: url(../img/seasonalWear.jpg) no-repeat right top;
  background-size: cover;
}

.item0 {
  background: url(../img/item/item0.jpg) no-repeat center;
  background-size: contain;
  height: 200px;
}

.item1 {
  background: url(../img/item/item1.jpg) no-repeat center;
  background-size: contain;
  height: 200px;
}

.item2 {
  background: url(../img/item/item2.jpg) no-repeat center;
  background-size: contain;
  height: 200px;
}

.item3 {
  background: url(../img/item/item3.jpg) no-repeat center;
  background-size: contain;
  height: 200px;
}

.item4 {
  background: url(../img/item/item4.jpg) no-repeat center;
  background-size: contain;
  height: 200px;
}

.item5 {
  background: url(../img/item/item5.jpg) no-repeat center;
  background-size: contain;
  height: 200px;
}

.item6 {
  background: url(../img/item/item6.jpg) no-repeat center;
  background-size: contain;
  height: 200px;
}

.item7 {
  background: url(../img/item/item7.jpg) no-repeat center;
  background-size: contain;
  height: 200px;
}

.item8 {
  background: url(../img/item/item8.jpg) no-repeat center;
  background-size: contain;
  height: 200px;
}

.item9 {
  background: url(../img/item/item9.jpg) no-repeat center;
  background-size: contain;
  height: 200px;
}

.item10 {
  background: url(../img/item/item10.jpg) no-repeat center;
  background-size: contain;
  height: 200px;
}

.item11 {
  background: url(../img/item/item11.jpg) no-repeat center;
  background-size: contain;
  height: 200px;
}

.item12 {
  background: url(../img/item/item12.jpg) no-repeat center;
  background-size: contain;
  height: 200px;
}

.summer {
  background: url(../img/water.jpg) no-repeat top;
  background-size: cover;
  height: 300px;
}

.productItem {
  background: url(../img/item/item0.jpg) no-repeat center;
  background-size: contain;
  height: 400px;
}


/* ==========================================================================
            
   ========================================================================== */





/* ==========================================================================
            
   ========================================================================== */





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ==========================================================================
            Media - 1500
   ========================================================================== */
@media screen and (max-width: 1500px) {
  .sResults {
    width: 23%;
  }

  .largeSim {
    display: none;
  }

  .similar {
    display: block;
  }

}

/* ==========================================================================
            Media - 1350
   ========================================================================== */
@media screen and (max-width: 1350px) {
  .sResults {
    width: 31%;
  }

  .remove {
    display: none;
  }

}

/* ==========================================================================
            Media - 1200
   ========================================================================== */
@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }

  .containAd {
    display: none;
  }

  .bottomAd {
    display: block;
  }

  .items {
    width: 30%;
    margin: 0 1% 80px;
  }

  .lose {
    display: none;
  }

  .more {
    display: block;
  }

  .description p {
    height: 60px;
    overflow: hidden;
    transition: all .5s ease-in-out;
  }

  .rightSide ul {
    width: 20%;
  }

}


/* ==========================================================================
            Media - 1080
   ========================================================================== */
@media screen and (max-width: 1080px) {
  .productSingle {
    width: 100%;
  }

  .textBox {
    width: 80%;
    margin: 50px 10%;
  }

  .gallery {
    display: none;
  }

  .middle {
    height: 0;
    padding-top: 80%;
    display: block;
    margin: 0 10%;
    width: 80%;
  }

  .sizeChart {
    padding-top: 5px;
    text-align: center;
  }

  .largeItem img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
  }
}


/* ==========================================================================
            Media - 980
   ========================================================================== */
@media screen and (max-width: 980px) {
  .fullNav, .dropdown {
    display: none;
  }

  .hamNav {
    display: block;
  }

  .search {
    right: 120px;
  }

  .wrap {
    width: 50%;
  }

  .wear {
    filter: grayscale(0);
  }

  .wear:hover {
    transform: scale(1);
  }

  .items, .simItems {
    width: 45%;
  }

  .lose2 {
    display: none;
  }

  .sResults {
    width: 48%;
  }

  .remove2 {
    display: none;
  }

  .itemCart {
    width: 90%;
    margin: 0 5%;
  }

  .center {
    text-align: center;
  }

  .summary h2 {
    text-align: center;
  }

  .summary {
    width: 90%;
    margin: 0 5%;
  }

  .topMarg {
    margin-top: 50px;
  }

  .rec {
    padding-left: 0;
    text-align: center;
  }

  .largeItem {
    width: 100%;
  }



}

/* ==========================================================================
            Media - 870
   ========================================================================== */
@media screen and (max-width: 870px) {
  .summer img {
    display: none;
  }

  .summer fieldset {
    left: 50%;
    margin-left: -217px;
  }

  .summer a {
    left: 50%;
    margin-left: -63px;
  }

  .sort {
    display: none;
  }

  .sideBar {
    display: none;
  }

  .departTitle {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }

  .res {
    width: 100%;
    left: 0;
  }

  .sResults {
    width: 31%;
  }

  .miniFilter {
    display: block;
    margin-top: -10px;
  }

  .remove {
    display: block;
  }


}


/* ==========================================================================
            Media - 768
   ========================================================================== */
@media screen and (max-width: 768px) {
  .hero {
    background: url(../img/hero2.jpg) no-repeat center;
    background-size: cover;
    }

  .sResults {
    width: 48%;
    text-align: center;
  }

  .remove {
    display: none;
  }

  .pagination ul {
    text-align: center;
  }




}


/* ==========================================================================
            Media - 640
   ========================================================================== */
@media screen and (max-width: 640px) {
  .search, .signup {
    display: none;
  }

  .smallSearch {
    display: block;
  }

  .social {
    width: 100%;
    position: none;
    text-align: center;
    list-style: none;
  }

  .col3 {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .navigation {
    height: 50px;
  }

  .navigation img {
    width: 75px;
  }

  .space {
    height: 50px;
  }

  .hamNav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .smallSearch {
    position: absolute;
    top: 6px;
    right: 60px;
  }

  .hamburger {
    position: absolute;
    top: -9px;;
    right: 20px;
    width: 50px;
    cursor: pointer;
  }

  .hamClose {
    position: absolute;
    top: -9px;
    right: 21px;
    width: 50px;
    cursor: pointer;
    z-index: 9999;
  }

  .re {
    padding: 0;
    text-align: center;
  }

  .info, .simInfo {
    margin-left: -50%; 
  }

  .wrap {
    width: 100%;
  }

  .miniSort {
    display: none;
  }

  .departTitle {
    margin: 0;
    padding: 50px 0 10px;
  }

  .departTitle h1 {
    padding: 0 10px 0 0;
  }

  .departTitle h2 {
    margin: -35px 0 0 20px;
  }

  .departTitle b {

  }
  .departTitle p {
    display: none;
  }

  .results {
    margin-top: -20px;
  }

  .miniFilter h2 {
    margin-top: -45px;
  }


}

/* ==========================================================================
            Media - 550
   ========================================================================== */
@media screen and (max-width: 550px) {
  .items, .simItems {
    width: 100%;
    margin: 0 0 80px;
  }

  .sResults {
    width: 100%;
    border-top: 1px solid #333E52;
    padding-top: 10px;
  }

  .infoCart {
    height: 120px;
    width: 80%;
  }

  .itemCart button {
    display: none;
  }

  .itemCart img {
    margin-top: 10px;
    width: 15%;
  }

  .infoCart p {
    float: left;
    margin: 0;
  }

  .thumbnails img {
    width: 21%;
    margin: 0 1%;
  }

  .box {
    width: 38px;
  }

  .simItems:first-child {

  }

}

/* ==========================================================================
            Media - 450
   ========================================================================== */
@media screen and (max-width: 450px) {
  .summer fieldset {
    width: 80%;
    left: 50%;
    margin-left: -42%;
  }

  .summer a {
    left: 50%;
    margin-left: -63px;
  }

  .summer h1 {
    font-size: 2.5em;
  }

  .departTitle b {
    font-size: .6em;
  }


  .departTitle h1 {
    text-align: right;
    font-size: 1.8em;
    margin: 0;
  }

  .bottomAd h1 {
    font-size: 2.5em;
  }

  .bottomAd h2 {
    margin: 10px 0; 
  }
  
}


/* ==========================================================================
            Media - 380
   ========================================================================== */
@media screen and (max-width: 380px) {
  .summer h1 {
    font-size: 2em;
  }

  .bottomAd h1 {
    font-size: 2em;
  }

  .bottomAd h2 {
    font-size: 1.5em;
  }
  .largeItem img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
  }


  
}


